<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
    <div data-id="my-table" data-view="Table" data-title="PR Checks"></div>
  </li>

  <li data-row="2" data-col="1" data-max-sizey="1" data-sizex="1" data-sizey="1">
    <div data-view="Countdown" data-title="Next Code Freeze" data-end="17-Apr-2020 17:00:00"></div>
  </li>

  <li data-row="2" data-col="2" data-sizex="1" data-sizey="1" data-max-sizey="1">
    <div data-id="current_release" data-view="List" data-unordered="true" data-title="Current Release" style="background-color:#96bf48;"></div>
  </li>

  <li data-switcher-interval="3000" data-row="2" data-col="3" data-sizex="1" data-sizey="1" data-max-sizey="1">
    <div data-id="total_num_of_tests" data-view="Number" data-title="Total Number of Tests" style="background-color:#96bf48;"></div>
    <div data-id="num_of_manual_tests" data-view="Number" data-title="Number of Manual Tests"></div>
  </li>

  <li data-switcher-interval="10000" data-row="2" data-col="2" data-sizex="1" data-sizey="1">
    <div data-id="fence_ci_stats" data-view="List" data-unordered="true" data-title="Fence CI stats" data-moreinfo="(stats from the last 7d)" style="background-color:#a0033c;"></div>
    <div data-id="arborist_ci_stats" data-view="List" data-unordered="true" data-title="Arborist CI stats" data-moreinfo="(stats from the last 7d)" style="background-color:#1d9ac4;"></div>
    <div data-id="indexd_ci_stats" data-view="List" data-unordered="true" data-title="Indexd CI stats" data-moreinfo="(stats from the last 7d)" style="background-color:#16169e;"></div>
    <div data-id="gen3qa_ci_stats" data-view="List" data-unordered="true" data-title="Gen3-QA CI stats" data-moreinfo="(stats from the last 7d)" style="background-color:#0d962d;"></div>
    <div data-id="cdismanifest_ci_stats" data-view="List" data-unordered="true" data-title="cdis-manifest CI stats" data-moreinfo="(stats from the last 7d)" style="background-color:#df024d;"></div>
    <div data-id="dataportal_ci_stats" data-view="List" data-unordered="true" data-title="data-portal CI stats" data-moreinfo="(stats from the last 7d)" style="background-color:#fa5845;"></div>
  </li>

  </ul>
</div>
