// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-countdown {

  background-color: $background-color;

  .title {
    font-size: 30px;
    kerning: 1px;
  }

  h1 { font-size: 40px;}

  .countdown-time {
    margin-top: 10px;
    color: lighten(gold, 10%);
    font-weight: bold;
  }

  .more-info {
    color: lighten(gold, 10%);
    font-weight: bold;
    font-size: 20px;
  }


  .before-more-info {
    position: absolute;
    bottom: 52px;
    left: 0;
    right: 0;
  }
}
